body {
    margin: 0;
    color: black;
    font-size: 18px;
}

.auto-style {
    width: 300px;
    background-color: navy;
    text-align: center;
}

.auto-style2 {
    text-align: center
}

#btnClear {
    width: 60px;
}

#btnEnter {
    width: 60px;
}

/*------------------ index-dior style -------------------*/

#MyForm {
    background-color: navy;
    color: white;
    width: 30%;
    margin: auto;
}

.header {
    text-align: center;
    margin-bottom: 10px;
}

.border-red{
    border:2px solid #ff006e;
    border-collapse:collapse;
}

.box-left {
    width: 30%;
    float: left;
    height:280px;
}

.box-right {
    width: 50%;
    float: right;
    height: auto;
}
