body {
    margin: 0;
    color: black;
    font-size: 18px;
}

.auto-style {
    width: 300px;
    background-color: #36aee2;
    text-align: center;
}

.auto-style2 {
    text-align: center
}

#btnClear {
    width: 60px;
}

#btnEnter {
    width: 60px;
}

/*------------------ index-dior style -------------------*/

#MyForm {
    background-color: blue;
    color: white;
    width: 30%;
    margin: auto;
    padding:5px, 2px, 5px, 20px;
    border: 2px, solid, red;
}

.header {
    text-align: center;
    margin-bottom: 10px;
}

.header p {
    background-color: blue;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid #ccc;
    padding-top: 20px;
    padding-bottom: 20px;
    color:coral;
}

#box-left {
    width: 30%;
    float: left;
    height:300px;
}

#box-right {
    width: 50%;
    float: right;
    height: auto;
}

/*.button-center input[type=reset] {*/
/*    align-items: center;*/
    /*padding: 5px, 5px, 10px, 30px;
}

.button-center input[type=submit] {
    padding: 5px, 5px, 10px, 5px;
}*/