body {
    margin: 0;
    color: black;
    font-size: 18px;
}

.auto-style {
    width: 300px;
    background-color: #36aee2;
    text-align: center;
}

.auto-style2 {
    text-align: center
}

#btnClear {
    width: 60px;
}

#btnEnter {
    width: 60px;
}

/*------------------ index-dior style -------------------*/

#MyForm {
    background-color: blue;
    color: white;
    width: 30%;
    margin: auto;
}

.field-set {
    border-color: #F00;
    border-style: solid;
}

.header {
    text-align: center;
    margin-bottom: 10px;
}

.line-1 {
    height: 2px;
    background: darkgray;
    margin-bottom: 10px;
    margin-top: 5px;
}

#box-left {
    width: 30%;
    float: left;
    height:280px;
}

#box-right {
    width: 50%;
    float: right;
    height: auto;
}
